<html>
    <head>
        <title>
            Age Predicting
        </title>
    </head>

    <body>
    <form action="." name="submit" method="post">
        <center>
            <h4>Age Predicting</h4>
            <label >Gender    </label>
            <select  class="input100" id="gender" name="gender" style="padding: 10px 5px;margin-top: 15px;border: 2px solid #d9d9d9;" >
                <option value="">Select Gender</option>
                <option value="0">Female</option>
                <option value="1">Male</option>
            </select> <br />
            <label>Religion</label>
            <select name="religion" id="religion"  style="padding: 10px 5px;margin-top: 15px;border: 2px solid #d9d9d9;"  >
                            <option value="">Select Religion</option>
							<option value="0">Christian</option>
							<option value="1">Hindu</option>
							<option value="2">Jain</option>
							<option value="3">Muslim</option>
							<option value="4">Sikh</option>
            </select> <br />
            <label>Mother Toungue</label>
            <select name="mother_tongue" id="mother_tongue" style="padding: 10px 5px;margin-top: 15px;border: 2px solid #d9d9d9;" >
                <option value="">Select Mother Tongue</option>
							<option value="0">Aka</option>
							<option value="1">Assamese</option>
							<option value="2">Bengali</option>
							<option value="3">Bhojpuri</option>
							<option value="4">Chattisgarhi</option>
							<option value="5">English</option>
							<option value="6">Gujarati</option>
							<option value="7">Haryanavi</option>
							<option value="8">Hindi</option>
							<option value="9">Kannada</option>
							<option value="10">Kashmiri</option>
							<option value="11">Konkani</option>
							<option value="12">Kutchi</option>
							<option value="13">Malayalam</option>
							<option value="14">Manipuri</option>
							<option value="15">Marathi</option>
							<option value="16">Marwari</option>
							<option value="17">Nepali</option>
							<option value="18">Odia</option>
							<option value="19">Other</option>
							<option value="20">Punjabi</option>
							<option value="21">Rajasthani</option>
							<option value="22">Sindhi</option>
							<option value="23">Tamil</option>
							<option value="24">Telugu</option>
							<option value="25">Tulu</option>
							<option value="26">Urdu</option>
            </select> <br>
            <label>Country</label>
            <select   id="country" name="country" style="padding: 10px 5px;margin-top: 15px;border: 2px solid #d9d9d9;" >
                <option value="">Select Country</option>
                <option value="0">Australia</option>
                <option value="1">Bahrain</option>
                <option value="2">Bangladesh</option>
                <option value="3">Canada</option>
                <option value="4">Germany</option>
                <option value="5">India</option>
                <option value="6">Ireland</option>
                <option value="7">Kuwait</option>
                <option value="8">Malaysia</option>
                <option value="9">Myanmar</option>
                <option value="10">Netherlands</option>
                <option value="11">New Zealand</option>
                <option value="12">Norway</option>
                <option value="13">Oman</option>
                <option value="14">Pakistan</option>
                <option value="15">Philippines</option>
                <option value="16">Qatar</option>
                <option value="17">Singapore</option>
                <option value="18">South Africa</option>
                <option value="19">USA</option>
                <option value="20">United Arab Emirates</option>
                <option value="21">United Kingdom</option>
            </select> <br>
            <label>Height in cm</label>
            <input type="text" name="height" style="padding: 10px 5px;margin-top: 15px;border: 2px solid #d9d9d9;">
            <input type="submit" value="submit">
        </center>
    </form>

    <h2>{{Age}}</h2>
    </body>

</html>